/*-------Estilos generales-------*/
*{
	margin: 0;
	padding: 0;
}
a, h1, h2, h3, h4, h5, h6{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
p{
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
}
/*--------Container principal-----------*/
.container{
	background: #fff;
	width: 95%;
	margin: auto;

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
/*--------------Cabecera-------------------------*/
.cabecera{
	width: 100%;
	padding: 5px;

	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.cabecera .logo img{
	vertical-align: top;
	margin-bottom: 10px;
}
.cabecera nav{
	
	padding: 20px;

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.cabecera nav a{
	color: #000;
	text-align: center;
	text-decoration: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 15px;
	font-size: 17px;

	flex-grow: 1;
}
.cabecera nav .active{
	color: #fff;
	background: #000;
	border-radius: 3px;
}
.cabecera .buscador{
	background: #fff;
	border: 1px solid #BFC9CA;
	border-radius: 3px;
}
.cabecera .buscador input, button{
	position: relative;
	width: 194px;
	height: 25px;
	padding: 5px;
	padding-left: 2px;
}
.cabecera .buscador input{
	border: none;
	outline: none;
	margin: 0;
}
.cabecera .buscador button{
	width: 50px;
	border: none;
	background: #fff;
	cursor: pointer;
}
/*-------------------Slider-------------------*/
.flexslider{
	width: 100%;
	height: 300px;
	background: #000;
	margin-top: 20px;
	position: relative;
}
.flexslider .slides{
	overflow: hidden;
}
.slides, .flex-control-nav, .flex-direction-nav{
	margin: 0;
	padding: 0;
	list-style: none;
}
.flex-control-nav{
	width: 100%;
	text-align: center;
	
}
.flex-control-nav li{
	display: inline-block;
	margin: 0 6px;
}
.flex-control-nav li a{
	display: block;
	background: #ccc;
	width: 1px;
	height: 1px;
	border-radius: 12px;
	text-indent: -9999px;
	padding: 5px;
}
.flex-control-nav li a:hover{
	background: #000;
}
.flex-control-nav li a.flex-active{
	background: #000;
}
.flex-direction-nav{
	display: none;
}
.relevantes{
	width: 40%;
	height: 300px;
	color: #fff;
	margin-top: 30px;
}
.relevantes h1, p, input{
	padding: 10px;
	margin: 10px;
	margin-left: 60px;
}
.relevantes input{
	border: 1px solid #BFC9CA;
	border-radius: 3px;
	cursor: pointer;
	background: #fff;
	margin-left: 70px;
}
/*---------------Cuerpo del sitio---------------*/
.main{
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	width: 100%;
	border-bottom: 2px solid #000;
	border-top: 2px solid #000;
	padding: 10px;
	margin-top: 100px;
}
.main .noticias{
	width: 70%;
}
.main .noticias article{
	display: flex;
	flex-direction: row;	
	align-items: center;
}
.main .noticias .articulo-1, .articulo-2{
	border-bottom: 1px solid #BFC9CA;
}
.main .noticias article .info{
	margin: 20px;
}
.main .noticias article .info h3, p, a{
	padding: 10px;
}
.main .noticias article .info p{
	text-align: justify;
	margin-left: 0;
}
.main .noticias article .info a{
	text-decoration: none;
	color: #000;
}
.main .noticias article .img-noticia{
	width: 700px;
	height: 180px;
	border: 2px solid #BFC9CA;
	margin-top: 15px;
	margin-bottom: 15px;
}
.main .anuncios{
	width: 25%;
}
.main .anuncios aside .widget-1{
	background: #000;
	width: 90%;
	height: 300px;
	margin: 20px;
}
.main .anuncios aside .widget{
	background: #000;
	width: 90%;
	height: 120px;
	margin: 20px;
}
aside .widget, .widget-1 div{
	text-align: center;
}
aside .widget div h3{
	color: #fff;
	padding-top: 50px;

}
aside .widget-1 div h3{
	color: #fff;
	padding-top: 130px;
}
/*---------------Pie de página---------------*/
footer{
	padding: 5px;
	margin: auto;
	width: 100%;

	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
footer .logo-pie{
	padding: 10px;
	margin-bottom: 10px;
}
footer .links a{
	color: #000;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	font-size: 14px;	
}

/*-------------Responsive----------------*/

@media screen and (max-width: 1024px){
	.main .anuncios aside .widget-1{
		width: 230px;
	}
	.main .anuncios aside .widget{
		width: 230px;
	}
	.cabecera{
		flex-direction: column;
	}
	.cabecera nav{
		width: 100%;
	}
}
@media screen and (max-width: 768px){
	.relevantes{
		width: 80%;
	}
	.main{
		flex-direction: column;
	}
	.main .noticias{
		width: 100%;
	}
	.main .anuncios{
		width: 100%;
	}
	.main .anuncios aside .widget-1{
		width: 95%;
	}
	.main .anuncios aside .widget{
		width: 95%;
	}
}
@media screen and (max-width: 450px){
	.cabecera .buscador input{
		width: 110px;
	}
	.relevantes{
		width: 92%;
	}
	.banner .img-banner .relevantes p{
		font-size: 10px;
	}
	.banner .img-banner .relevantes{
		width: 90%;
	}
	.main .noticias article{
		flex-direction: column;
	}
	.main .noticias article .img-noticia{
		width: 40%;
		height: 150px;
	}
	.main .anuncios aside .widget-1{
		width: 80%;
	}
	.main .anuncios aside .widget{
		width: 80%;
	}
	footer{
		flex-direction: column;
	}
	footer .links{
		text-align: center;
	}
}
@media screen and (max-width: 375px){
	.relevantes{
		width: 100%;
		margin-left: -15px;
	}
	.relevantes h1{
		font-size: 25px;
	}
	.relevantes p{
		font-size: 15px;
	}
	.main .noticias article .img-noticia{
		height: 100px;
	}
	.main .noticias article .info p{
		font-size: 15px;
	}
	.main .anuncios aside .widget-1{
		height: 250px;
		width: 85%;
	}
	.main .anuncios aside .widget{
		width: 85%;
		height: 100%;
	}
}
@media screen and (max-width: 320px){
	.relevantes input{
		padding: 5px;
	}
}