.news__item {
  border-bottom: 1px solid #ccc;
  display: flex;
  margin-bottom: 1.5rem;
  padding-bottom: 1rem;
}

.news__image .without__image {
  border: 2px solid #ccc;
  margin-right: .5rem;
  padding: 5rem;
}

.news__info h4 {
  font-size: 1.3rem;
  line-height: 1;
  margin-bottom: .8rem;
}

.news__info p {
  font-size: .85rem;
  margin-bottom: .8rem;
}

.news__info a {
  font-size: .85rem;
  font-weight: bold;
}
