.secondary__news {
  margin: 0 1rem 1rem;
}

.secondary__news .news__item {
  border: 0;
  padding: 0;
}

.secondary__news .news__info h4 {
  font-size: 1rem;
  margin-bottom: .5rem;
}

@media screen and (min-width: 768px) {
  .secondary__news ul {
    display: flex;
    justify-content: space-between;
  }
  .secondary__news li {
    margin: 0;
    width: 48%;
  }
}
